*.bat linguist-detectable=true
*.js linguist-detectable=true
*.py linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=true
*.rst linguist-detectable=true
*.json linguist-detectable=true
*.toml linguist-detectable=true
*.xml linguist-detectable=true
*.svg linguist-detectable=true
*.lock linguist-generated=true
*.md linguist-generated=true
*.md linguist-documentation=false
