*.bat linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=true
*.js linguist-detectable=true
*.py linguist-detectable=true
*.rst linguist-detectable=true
*.svg linguist-detectable=true
